@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.flex img{
    width: 50%;
}

*{
    text-decoration: none;
    color: black;
}

.flecha{
    display: flex;
    height: 5%;
    width: 2.5%;
    float: left;
    position: fixed;
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 900px;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}
.img1{
    float: left;
    height: 2%;
    width: 2%;
    margin-top: 6px;
    margin-right: 5px;
}

.jus {
    text-align: justify;
    margin-right: 25%;
    margin-left: 25%;
}

.flexh{
    position: absolute;
    display:flex;
    margin-bottom: 350px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 5px;
}
.flex {
    display:flex;
    justify-content: center;
    align-items: center;
}

.indice h1{
    text-align: center;
}